# Auto detect text files and perform LF normalization
* text=auto

# House Price Prediction using ML

This Project shows the Data Analysis and Model Building
on the Boston Housing Dataset using Python and modules
like Numpy,Pandas,Matplotlib,Seaborn and Scikitlearn.

